header{
	width: 100%;
	height: 50px;
	background: #1e1b29;
	border-bottom: solid 4px red;
}
.member_wrap{
	float: left;
	
}
.header_item{
	overflow: hidden;
}
.user_menu{
	width: 100%;
	height: 170px;
	padding: 20px 0;
	background:url(../img/banner_bg.jpg) no-repeat;
}
.header_item{
	
	width: 980px;
	margin: 0 auto;
}
.menu_head{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: solid 3px #fff;
	overflow: hidden;
}
.menu_head img{
	width: 100%;
	height: 100%;
}
.menu_info{
	width:840px;
	margin-left: 20px;	
}
.info_name{
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
}
.info_name_box{
	margin-top: 10px;
}
.level{
	font-size: 14px;
	color: #f60;
	font-weight: bold;
}
.info_desc{
	margin-top: 10px;
	font-size: 14px;
	color: #FFF;
}
.banner_menu{
	width: 980px;
	height: 50px;
	margin: 20px auto;
	background: #fff;
}


.nav_box{
	margin-top: 50px;
}
.nav_box ul {
	overflow: hidden;
}
.nav_box ul li{
	display: block;
	padding: 0 20px;
}
.nav_box ul li a{
	color: #fff;
	font-size: 16px;
}
.nav_box ul li a:hover{
	color: red;
}





.login_wrap{
	background: url(../img/logo_bg.jpg) no-repeat center;
	background-size: 100%;
	text-align: center;
}
.logo{
	width: 500px;
	height: 150px;
	margin: 0px auto;
}
.login_box{
	width: 360px;
	background: #FFFFFF;
	margin: 0px auto;
}
.login_title{
	font-size: 18px;
	text-align: center;
	color: #888888;
	padding: 15px 0;
	width: 300px;
	margin: 0 auto;
	border-bottom: solid 1px #CCCCCC;
}
.form_text_ipt{
	width: 300px;
	height: 40px;
	border: solid 1px #CCCCCC;
	margin: 20px auto 0 auto;
	background: #FFFFFF;
}
.form_check_ipt{
	width: 300px;
	margin:  10px auto;
	overflow: hidden;
}
.form_text_ipt input{
	width: 290px;
	height: 30px;
	margin: 5px;
	border: none;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666;
}
.check_left label{
	cursor: pointer;
}
.check_left label input{
	position: relative;
	top: 2px;
}
.form_btn{
	width: 300px;
	height: 40px;
	margin:  10px auto;
}
.form_btn button{
	width: 100%;
	height: 100%;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	background: red;
	cursor: pointer;
}
.form_reg_btn{
	width: 300px;
	margin: 0 auto;
	font-size: 14px;
	color: #666;
}
.other_login{
	overflow: hidden;
	width: 300px;
	height: 80px;
	line-height: 80px;
	margin: 0px auto;
}
.other_left{
	font-size: 14px;
	color: #999;
}
.loginLogo {
	height: 100px;
	width: 100px;
	margin: 40px 0 10px 0;
	padding: 0;
	border-radius: 100px;
}
	
/*增加演出厅/人员的表单样式*/
.position {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 240px;
    width: 70%;
}
.smart-green {
	margin-left:auto;
	margin-right:auto;
	max-width: 500px;
	background: #F8F8F8;
	padding: 30px 30px 20px 30px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.smart-green h1 {
		font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
		padding: 20px 0px 20px 40px;
		display: block;
		margin: -30px -30px 10px -30px;
		color: #FFF;
		background: #9DC45F;
		text-shadow: 1px 1px 1px #949494;
		border-radius: 5px 5px 0px 0px;
		-webkit-border-radius: 5px 5px 0px 0px;
		-moz-border-radius: 5px 5px 0px 0px;
		border-bottom:1px solid #89AF4C;
}
.smart-green label {
		display: block;
		margin: 0px 0px 5px;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
		color: #555;
		height: 30px;
		line-height:15px;
		width: 100%;
		padding: 0px 0px 0px 10px;
		margin-top: 2px;
		border: 1px solid #E5E5E5;
		background: #FBFBFB;
		outline: 0;
		-webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
		box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
		font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green .button {
		background-color: #9DC45F;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-border-radius: 5px;
		border: none;
		padding: 10px 25px 10px 25px;
		color: #FFF;
		text-shadow: 1px 1px 1px #949494;
		margin-top:30px;
}
.smart-green .button:hover {
	background-color:#80A24A;
}
/* 定义修改演出厅模态对话框外面的覆盖层样式 */
#modal-overlay {
		visibility: hidden;    
		position: absolute;   /* 使用绝对定位或固定定位  */
		left: 0px;    
		top: 0px;
		width:100%;
		height:100%;
		text-align:center;
		z-index: 1000;
		background-color: rgba(24, 24, 24, 0.5);
}
/* 模态框样式 */
.modal-data{
	width:300px;
	margin: 100px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;
}
/*增加演出厅按钮*/
.addbutton {
	margin: auto;
	color: #000000;
	background-color: #C0C0C0;
	font-size: 16px;
	padding: 10px 60px;
	outline: inherit;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 10px;
	margin-left:765px;
  }
  #add {
	visibility: hidden;    
	position: absolute;   /* 使用绝对定位或固定定位  */
	left: 0px;    
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	z-index: 1000;
	background-color: rgba(24, 24, 24, 0.5);
}
/* 模态框样式 */
.adddata{
width:300px;
margin: 100px auto;
background-color: #fff;
border:1px solid #000;
padding:15px;
text-align:center;
}